@import "../../../styles.scss";

:host{
    display: inline-block;
}

.link {
    position: relative;
    text-decoration: none;
    padding: $s-1 0;
    color: inherit;
    font-weight: bold;
    &:after {
        content:'';
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: $primary;
        transform: scaleX(0);
        transform-origin: bottom right;
        transition: transform 300ms;
    }

    &:hover {
        cursor: pointer;
        &:after {
            transform-origin: bottom left;
            transform: scaleX(1);
        }
    }
}