@import "../../../styles.scss";

h4{
    letter-spacing: $s-1;
}

table{
    border-collapse: collapse;
    width: 100%;

    thead{
        background-color: $glass-4;
        color: $light;
        
        th{
            padding: $s-3;
            border: none;
            margin: 0;
            text-align: left;
            
        }
    }
    tbody{
        td{
            padding: $s-3;
        }
    }
}

.categoria{
    background: $light;
    border-radius: $s-1;
    margin-bottom: $s-4;
    overflow: hidden;

    .nombre{
        background: $dark;
        padding: $s-4;
        color: $light;
        letter-spacing: $s-1;
    }
}

.card-container{
    display: flex;
    width: 100%;
    padding: $s-2;
    .card{
        border: 2px solid $dark;
        margin: $s-2;
        padding: $s-4;
        b{
            letter-spacing: $s-2;
            color: $tertiary;
        }
        hr{
            margin: $s-2 0px;
        }
        .name{
            font-weight: bold;
            margin-bottom: $s-2;
        }
        .details{
            margin-bottom: $s-2;
        }
        .stock{
            margin-bottom: $s-2;
            .number{
                border: 2px solid $primary;
                color: $primary;
                padding: 0px $s-1;
                border-radius: $s-1;
                font-weight: bold;
                letter-spacing: $s-1;
            }
        }
    }
}

.alert{
    padding: $s-2;
    border-left: $s-2 solid $hard;
}