<h4>INVENTARIO</h4>
<hr class="mt-2 mb-4">
<div class="top-bar">
    <ww-button class="mr-4" [color]="'tertiary'" [outline]="true" (click)="modalNew.show();">
        <i class="ion-android-add"></i> NUEVO PRODUCTO
    </ww-button>
    <ww-button class="mr-4" [color]="'gray'" [outline]="true" (click)="modalNew.show();">
        <i class="ion-android-add"></i> NUEVA CATEGORIA
    </ww-button>
    <ww-button class="" [color]="'gray'" [outline]="true" (click)="modalNew.show();">
        <i class="ion-android-add"></i> NUEVO PROVEDOR
    </ww-button>
</div>
<hr class="mt-4 mb-4">
<!--table>
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Nombre
            </th>
            <th>
                Detalles
            </th>
            <th>
                Stock
            </th>
            <td>
                <i class="ion-android-settings"></i>
            </td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of data">
            <td>
                {{item.id}}
            </td>
            <td>
                {{item.nombre}}
            </td>
            <td>
                {{item.detalles}}
            </td>
            <td>
                {{item.stock}}
            </td>
            <td>
                <i class="ion-android-more-horizontal"></i>

            </td>
        </tr>
    </tbody>
</table-->
<div class="categoria">
    <div class="nombre">
        <i class="ion-chevron-down"></i>
        Elementos de farmacia
    </div>
    <div class="card-container">
        <div class="card" *ngFor="let item of data">
            <b>{{item.id}}</b>
            <hr>
            <p class="name">{{item.nombre}}</p>
            <p class="details">
                <i>{{item.detalles}}</i>
            </p>
            <p class="stock">Stock: <span class="number">{{item.stock}}</span></p>
            <ww-button class="w-100 mt-4" [color]="'gray'" [outline]="true" (click)="modalNew.show();">
                DETALLES
            </ww-button>
        </div>
    </div>
</div>
<div class="categoria">
    <div class="nombre">
        <i class="ion-chevron-down"></i>
        Productos fuera de stock
    </div>
    <div class="card-container">
        <div class="alert">
            <i class="ion-alert-circled"></i> No se han encontrado entradas
        </div>
    </div>
</div>
<ww-modal #modalNew>
    <div class="container" (click)="modalNew.hide();">
        Hello
    </div>
</ww-modal>