<section>
    <div class="sidebar">
        <div class="content">
            <img src="../../../assets/images/logo/light.png" alt="" class="logo">
            <hr class="m-2 light">
            <div class="sidebar-link add" (click)="modalNew.show()">
                <i class="ion-ios-plus-outline fs-8"></i>
            </div>
            <hr class="m-2 light">
            <div class="sidebar-link" (click)="modalChat.show()">
                <i class="ion-ios-chatboxes-outline fs-8"></i>
            </div>
            <div class="sidebar-link">
                <i class="ion-ios-gear-outline fs-8"></i>
            </div>
            <div class="sidebar-link">
                <i class="ion-ios-help-outline fs-8"></i>
            </div>
            <hr class="m-2 light">
            <div routerLink="/" class="sidebar-link logout">
                <i class="ion-log-out fs-6"></i>
            </div>
        </div>
    </div>
    <div class="tools" *ngIf="!hiddenTools">
        <ww-button class="w-25" [outline]="true" [color]="'dark'" [squared]="true" (click)="modalNew.show()">
            <i class="ion-plus"></i> ABRIR HERRAMIENTA
        </ww-button>
        <div class="mt-4 favorites">
            <h4>Favoritos</h4>
            <hr class="mt-4 mb-4 light">
            <ww-button class="m-2" [outline]="true" [color]="'soft'" [squared]="true">
                <i class="ion-ios-cart fs-8"></i>
            </ww-button>
            <ww-button class="m-2" [outline]="true" [color]="'soft'" [squared]="true">
                <i class="ion-ios-people fs-8"></i>
            </ww-button>
        </div>
        <!--div class="main-tab-container">
            <mat-tab-group class="w-100">
                <mat-tab label="First"> Content 1 </mat-tab>
                <mat-tab label="Second"> Content 2 </mat-tab>
                <mat-tab label="Third"> Content 3 </mat-tab>
            </mat-tab-group>
        </div-->
    </div>
    <div class="main-tab-container" *ngIf="hiddenTools">
        <app-inventory></app-inventory>
    </div>
</section>

<ww-modal #modalChat>
    <div class="container">
        <div class="window-chat">
            <div class="top-bar">
                <div (click)="modalChat.hide()">
                    <i class="ion-close"></i>
                </div>
            </div>
            <app-chat></app-chat>
        </div>
    </div>
</ww-modal>

<ww-modal #modalNew>
    <div class="container" (click)="modalNew.hide();">
        <div class="advice">
            Click en cualquier parte para cerrar
        </div>
        <div class="card-deck">
            <div class="card" click-stop-propagation>
                <div class="text-center">
                    <i class="ion-ios-box-outline icon"></i>
                    <h4>INVENTARIO</h4>
                </div>
                <hr class="mt-2 mb-4">
                <p>Con esta herramienta usted puede:</p>
                <ul>
                    <li>Agregar productos</li>
                    <li>Actualizar stock</li>
                    <li>Agregar categorias</li>
                    <li>Agregar provedores</li>
                </ul>
                <hr class="mt-4 mb-4">
                <ww-button class=w-100 [color]="'dark'" [outline]="true"
                    (click)="modalNew.hide(); hiddenTools = !hiddenTools">
                    <i class=" ion-chevron-right"></i> ABRIR
                </ww-button>
            </div>
            <div class="card" click-stop-propagation>
                <div class="text-center">
                    <i class="ion-ios-cart-outline icon"></i>
                    <h4>VENTAS</h4>
                </div>
                <hr class="mt-2 mb-4">
                <p>Con esta herramienta usted puede:</p>
                <ul>
                    <li>Vender productos</li>
                    <li>Emitir facturas</li>
                    <li>Generar tickets</li>
                    <li>Consultar precios</li>
                </ul>
                <hr class="mt-4 mb-4">
                <ww-button class=w-100 [color]="'dark'" [outline]="true" (click)="modalNew.hide();">
                    <i class=" ion-chevron-right"></i> ABRIR
                </ww-button>
            </div>
            <div class="card" click-stop-propagation>
                <div class="text-center">
                    <i class="ion-ios-people-outline icon"></i>
                    <h4>EMPLEADOS</h4>
                </div>
                <hr class="mt-2 mb-4">
                <p>Con esta herramienta usted puede:</p>
                <ul>
                    <li>Agregar empleados</li>
                    <li>Reviar expedientes</li>
                    <li>Marcar asistencia</li>
                </ul>
                <hr class="mt-4 mb-4">
                <ww-button class=w-100 [color]="'dark'" [outline]="true" (click)="modalNew.hide();">
                    <i class=" ion-chevron-right"></i> ABRIR
                </ww-button>
            </div>
            <div class="card" click-stop-propagation>
                <div class="text-center">
                    <i class="ion-ios-list-outline icon"></i>
                    <h4>REPORTES</h4>
                </div>
                <hr class="mt-2 mb-4">
                <p>Con esta herramienta usted puede:</p>
                <ul>
                    <li>Generar reportes</li>
                    <li>Imprimir reportes</li>
                    <li>Obtener análisis</li>
                </ul>
                <hr class="mt-4 mb-4">
                <ww-button class=w-100 [color]="'dark'" [outline]="true" (click)="modalNew.hide();">
                    <i class=" ion-chevron-right"></i> ABRIR
                </ww-button>
            </div>
        </div>
    </div>
</ww-modal>