@import "../../../styles.scss";

section{
    min-height: 100vh;
    background: $image;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
}
.sidebar{
    background: $glass-4;
    backdrop-filter: $blur-45;
    min-height: 100vh;
    .content{
        position: sticky;
        position: -webkit-sticky;
        top: 0px;
        text-align: center;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        .logo{
           width: 2em;        
           margin: $s-3;
           height: 2em;
        }
        .sidebar-link{
            display: flex;
            align-items: center;
            justify-content: center;
            height: 3.5em;
            color: $light;
            border-left: $s-1 solid transparent;
            border-right: $s-1 solid transparent;
            transition: 600ms;
        }
        .sidebar-link:hover{
            border-left: $s-1 solid $secondary;
            cursor: pointer;
        }
        .logout{
            color: $hard;
            //margin-top: auto;
            &:hover{
                border-left: $s-1 solid $hard;
                color: $hard;
            }
        }
        .add{
            color: $soft;
            &:hover{
                border-left: $s-1 solid $soft;
                color: $soft;
            }
        }
    }
}
.tools{
    background: $cristal-1;
    backdrop-filter: $blur-45;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .favorites{
        width: 25%;
        background: $glass-3;
        padding: $s-4;
        border-radius: $s-2;
        h4{
            color: $light;
            font-weight: lighter;
            letter-spacing: $s-2;
        }
    }
}
.hiddenTools{
    display: none;
}

.container{
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    flex-direction: column;

    .advice{
        width: 100%;
        top: 0;
        position: fixed;
        color: $light;
        text-align: center;
        cursor: pointer;
        transition: 300ms;
        padding: $s-2;
        &:hover{
            background: $glass-2;
        }
    }
    .card-deck{
        display: flex;
        flex-wrap: wrap;
        display: flex;
        justify-content: flex-start;
        margin: 2em 4em; 
    }
    .card{
        flex-basis: auto;
        flex: 0 1 calc(25% - 1em);

        margin: $s-2;
        background: $cristal-4;
        //border: 2px solid $dark;
        
        padding: $s-6;
        border-radius: $s-2;
        
        .icon{
            font-size: 4em;
        }
        h4{
           letter-spacing: $s-1;
        }
    }
}


.main-tab-container{
    width: 100%;
    min-height: 100%;
    background: $cristal-4;
    backdrop-filter: $blur-45;
    padding: $s-8;   
}

.window-chat{
    border-radius: $s-1;
    overflow: hidden;
    width: 50%;  
    background: $cristal-3;
    .top-bar{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        background: $dark;
        div{
            padding: $s-2 $s-3;
            transition: 300ms;
            color: $hard;
        }
        div:hover{
            background: $hard;
            color: $light;
            cursor: pointer;
        }
    }
}