@import "../../../styles.scss";

.cover{
    min-height: 100vh;
    background: $image;
    background-size: cover;
    border: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card{
    background: $cristal-4;
    backdrop-filter: $blur-45;
    padding: $s-8;
    border-radius: $s-2;
    box-shadow: $shadow-2;
    min-width: 20%;
}
.card > h3{
    font-weight: lighter;
    text-align: center;
    letter-spacing: $s-2;
}

.logo{
    width: 10em;
    height: auto;
}
.logo-container{
    text-align: center;
}