<section class="cover">
    <div class="card">
        <div class="logo-container mb-4">
            <img src="../../../assets/images/logo/dark.png" alt="Logo" class="logo">
        </div>
        <hr class="mb-2">
        <h3>WALKURE WALTZ</h3>
        <hr class="mb-2 mt-2">
        <div class="mb-4 mt-5">
            <ww-text>
                Usuario
            </ww-text>
            <ww-text [type]="'password'">
                Contraseña
            </ww-text>
        </div>
        <div class="mb-4 text-right">
            <ww-link routerLink="/nuevo">Nuevo usuario</ww-link>
        </div>
        <ww-button (click)="validate()" class="w-100" [color]="'dark'" [pill]="true" [outline]='true'>
            ACCEDER
        </ww-button>
    </div>
</section>