@import "../../../styles.scss";

.input-container {
  position: relative;
  margin-bottom: 1em;
  margin-top: 1em;
}
.input-container input {
  width: 100%;
  padding: 0.5em 0em;
  font-size: 1em;
  border: none;
  border-bottom: 2px solid $gray;
  outline: none;
  background: transparent;
  transition: 300ms;
  color: $dark;
  &.light{
      color: $light;
  }
}
.input-container label {
  position: absolute;
  top:0;
  left: 0;
  padding: 0.5em 0em;
  font-size: 1em;
  pointer-events: none;
  transition: 300ms;
  color: $gray;
}

.input-container input:focus ~ label,
.input-container input:valid ~ label {
  top: -1.25em;
  left: 0;
  font-size: 0.75em;
}
.input-container input:focus{
  border-bottom-color: $dark;
  &.light{
      border-bottom-color: $light;
  }
}
.input-container input:hover{
  border-bottom-color: $dark;
  &.light{
      border-bottom-color: $light;
  }
}