<div class="input-container">
    <input #username type="{{type}}" required="true" [ngClass]="{'light':color==='light'}" />
    <label [ngClass]="{'light':color==='light'}">
        <ng-content></ng-content>
    </label>
</div>