@import "../../../styles.scss";

:host {
    display: block;
}
section {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: $glass-1;
    backdrop-filter: $blur-5;
	z-index: 1000;

	opacity: 1;
	display: block;
	transition: opacity 300ms ease-in;
	pointer-events: auto;

    overflow-y: auto;
}

.hidden{
    opacity: 0;
    pointer-events: none;
	display: none;
}