@import "../../../styles.scss";

:host{
    display: inline-block;
}

button{
    width: 100%;
    padding: $s-1 $s-4;
    border-radius: $s-1;
    text-align: center;
    font-weight: bold;
    letter-spacing: $s-1;
    border: solid transparent 2px;
    position: relative;
    transition:all 300ms;
    //line-height: 1;
    &:hover{
        cursor: pointer;
    }
    &:active{
        filter: brightness(0.8);
    }
}


.btn-primary{
    background: $primary;
    border-color: $primary;
    color: $light;
    &.outline{
        color: $primary !important;
    }
    &:hover, &:focus{
        background: $primary;
        color: $light !important;
        box-shadow: 0px 0px 1em $primary;
    }
}
.btn-secondary{
    background: $secondary;
    border-color: $secondary;
    color: $dark;
    &.outline{
        color: $secondary !important;
    }
    &:hover, &:focus{
        background: $secondary;
        color: $dark !important;
        box-shadow: 0px 0px 1em $secondary;
    }
}
.btn-tertiary{
    background: $tertiary;
    border-color: $tertiary;
    color: $light;
    &.outline{
        color: $tertiary !important;
    }
    &:hover, &:focus{
        background: $tertiary;
        color: $light !important;
        box-shadow: 0px 0px 1em $tertiary;
    }
}
.btn-soft{
    background: $soft;
    border-color: $soft;
    color: $dark;
    &.outline{
        color: $soft !important;
    }
    &:hover, &:focus{
        background: $soft;
        color: $dark !important;
        box-shadow: 0px 0px 1em $soft;
    }
}
.btn-hard{
    background: $hard;
    border-color: $hard;
    color: $light;
    &.outline{
        color: $hard !important;
    }
    &:hover, &:focus{
        background: $hard;
        color: $light !important;
        box-shadow: 0px 0px 1em $hard;
    }
}
.btn-gray{
    background: $gray;
    border-color: $gray;
    color: $light;
    &.outline{
        color: $gray !important;
    }
    &:hover, &:focus{
        background: $gray;
        color: $light !important;
        box-shadow: 0px 0px 1em $gray;
    }
}
.btn-light{
    background: $light;
    border-color: $light;
    color: $dark;
    &.outline{
        color: $light !important;
    }
    &:hover, &:focus{
        background: $light;
        color: $dark !important;
        box-shadow: 0px 0px 1em $light;
    }
}
.btn-dark{
    background: $dark;
    border-color: $dark;
    color: $light;
    &.outline{
        color: $dark !important;
    }
    &:hover, &:focus{
        background: $dark;
        color: $light !important;
        box-shadow: 0px 0px 1em $dark;
    }
}

.outline{
    background: transparent;
}
.pill{
    border-radius: 100em;
}
.squared{
    border-radius: 0em;
}