<button [ngClass]="{
    'btn-primary':color==='primary' || color==='default',
    'btn-secondary':color==='secondary',
    'btn-tertiary':color==='tertiary',
    'btn-soft':color==='soft',
    'btn-hard':color==='hard',
    'btn-gray':color==='gray',
    'btn-light':color==='light',
    'btn-dark':color==='dark',
    'pill':pill,
    'squared':squared,
    'outline':outline
}">
    <ng-content></ng-content>
</button>