@import "../../../styles.scss";

section{
    width: 100%;
    min-height: 500px;
    display: flex;
    backdrop-filter: $blur-45;
}
.side-bar{
    background: $cristal-3;
    min-width: 250px;
    padding: $s-4;
    h4{
        letter-spacing: $s-2;
    }
}

.user-row{
    margin-bottom: $s-2;
    border: 1px solid $gray;
    border-radius: $s-1;
    padding: $s-2;
    display: flex;
    align-items: center;
    .profile{
        border: 1px solid $dark;
        height: $s-8;
        width: $s-8;
        border-radius: $s-4;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: $s-2;
    }
    .name{
        font-weight: bold;
    }
    .lastseen{
        font-size: $s-3;
        font-weight: bold;
    }
}

.online{
    background: $dark;
    color: $light;
    .profile{
        border: 1px solid $light;
    }
    .lastseen{
        color: $primary;
    }
}

.chat{
    padding: $s-4;
    width: 100%;
    height: inherit;
    display: flex;
    flex-direction: column;
    h4{
        text-transform: uppercase;
        letter-spacing: $s-2;
    }

    .messages{
        display: flex;
        width: 100%;
    }
    .message{
        max-width: 75%;
        margin-right: auto;
        background: $light;
        padding: $s-4;
        margin-bottom: $s-2;
        border-radius: $s-0 $s-2 $s-2 $s-2;
        box-shadow: $shadow-2;
        .time{
            font-size: $s-3;
            color: $gray;
            margin-top: $s-2;
        }
    }
    .mine{
        margin-right: 0px;
        margin-left: auto;
        background: $tertiary;
        color: $light;
        border-radius: $s-2 $s-2 $s-0 $s-2;
        .time{
            color: $light;
            margin-top: $s-2;
            text-align:right;
        }
    }
}
.date-divider{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: $s-2;
    .date{
        font-size: $s-3;
        background: $gray;
        color: $light;
        display: inline;
        padding: $s-2;
        border-radius: $s-1;
    }
}

.row{
    flex-direction: row;
}

.chat-bottom{
    margin-top: auto;
    background: $cristal-3;
    display: flex;
    justify-content: center;
    border-radius: $s-2;
    overflow: hidden;
    input{
        background: none;
        border: none;
        width: 100%;
        padding-left: $s-3;
    }
    button{
        background: none;
        border: none;
        color: $dark;
        padding: $s-2;
        transition: 300ms;
    }
    button:hover{
        color: $tertiary;
    }
}

