<section>
    <div class="side-bar">
        <h4>CHATS</h4>
        <hr class="mt-2 mb-4">
        <div *ngFor="let user of users" class="user-row" [class]='user.lastseen'>
            <div class="profile"><i class="ion-person"></i></div>
            <div>
                <div class="name">{{user.name}}</div>
                <div class="lastseen">{{user.lastseen}}</div>
            </div>
        </div>
        <ww-button class="w-100 mt-4" [outline]="true" [color]="'dark'" [squared]="true">
            <i class="ion-plus"></i> NUEVO
        </ww-button>
    </div>
    <div class="chat">
        <div class="row">
            <div class="chat-header">
                <h4>{{users[0].name}}</h4>
                <hr class="mt-2 mb-4">
            </div>
            <div class="date-divider">
                <div class="date">HOY</div>
            </div>
            <div *ngFor="let message of meessages" class="messages">
                <div class="message" [class.mine]="message.mine">
                    <div>{{message.text}}</div>
                    <div class="time">{{message.time}}</div>
                </div>
            </div>
        </div>
        <div class="chat-bottom row">
            <input type="text">
            <button>
                <i class="ion-chevron-right"></i>
            </button>
        </div>
    </div>
</section>