
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$walkure-waltz-primary: mat-palette($mat-indigo);
$walkure-waltz-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$walkure-waltz-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$walkure-waltz-theme: mat-light-theme((
  color: (
    primary: $walkure-waltz-primary,
    accent: $walkure-waltz-accent,
    warn: $walkure-waltz-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($walkure-waltz-theme);

/* You can add global styles to this file, and also import other style files */
@import "http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css";
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 1em;
    outline: none;
}


////////////// VARIABLES ////////////// 

//------------ COLORES ------------
$primary:   #55C595;
$secondary: #7CE495;
$tertiary:  #3572a0;
$soft:      #F9E2AE;
$hard:      #FE676E;
$gray:      #5D5D5D;
$light:     #ECEFF4;
$dark:      #17242D;

$glass-1:  rgba(23, 36, 45, 0.2);
$glass-2:  rgba(23, 36, 45, 0.4);
$glass-3:  rgba(23, 36, 45, 0.6);
$glass-4:  rgba(23, 36, 45, 0.8);

$cristal-1: rgba(236, 239, 244, 0.2);
$cristal-2: rgba(236, 239, 244, 0.4);
$cristal-3: rgba(236, 239, 244, 0.6);
$cristal-4: rgba(236, 239, 244, 0.8);
//------------ TAMAÑO ------------
$s-0: 0em;
$s-1: 0.25em;
$s-2: 0.50em;
$s-3: 0.75em;
$s-4: 1.00em;
$s-5: 1.25em;
$s-6: 1.50em;
$s-7: 1.75em;
$s-8: 2.00em;

//------------ EFECTOS ------------
$blur-5: blur(5px);
$blur-15: blur(15px);
$blur-45: blur(45px);

$shadow-1: 0 0.46875rem 2.1875rem rgba(90,97,105,.1), 0 0.9375rem 1.40625rem rgba(90,97,105,.1), 0 0.25rem 0.53125rem rgba(90,97,105,.12), 0 0.125rem 0.1875rem rgba(90,97,105,.1);
$shadow-2: 0 0.46875rem 2.1875rem rgba(80, 122, 170, 0.1), 0 0.9375rem 1.40625rem rgba(90,97,105,.1), 0 0.25rem 0.53125rem rgba(90,97,105,.12), 0 0.125rem 0.1875rem rgba(90,97,105,.1);

$image: url('../../../assets/images/bg/bg-3.png');
////////////// CLASES ////////////// 
.fs-1{
    font-size: $s-1;
}
.fs-2{
    font-size: $s-2;
}
.fs-3{
    font-size: $s-3;
}
.fs-4{
    font-size: $s-4;
}
.fs-5{
    font-size: $s-5;
}
.fs-6{
    font-size: $s-6;
}
.fs-7{
    font-size: $s-7;
}
.fs-8{
    font-size: $s-8;
}

.letter-spacing-0{
    letter-spacing: $s-0;
}
.letter-spacing-1{
    letter-spacing: $s-1;
}
.letter-spacing-2{
    letter-spacing: $s-2;
}
.letter-spacing-3{
    letter-spacing: $s-3;
}
.letter-spacing-4{
    letter-spacing: $s-4;
}
.letter-spacing-5{
    letter-spacing: $s-5;
}
.letter-spacing-6{
    letter-spacing: $s-6;
}
.letter-spacing-7{
    letter-spacing: $s-7;
}
.letter-spacing-8{
    letter-spacing: $s-8;
}

.font-weight-100{
    font-weight: 100;
}
.font-weight-200{
    font-weight: 200;
}
.font-weight-300{
    font-weight: 300;
}
.font-weight-400{
    font-weight: 400;
}
.font-weight-500{
    font-weight: 500;
}
.font-weight-600{
    font-weight: 600;
}
.font-weight-700{
    font-weight: 700;
}
.font-weight-800{
    font-weight: 800;
}
.font-weight-900{
    font-weight: 900;
}

.w-auto{
    width: auto;
}
.w-25{
    width: 25%;
}
.w-50{
    width: 50%;
}
.w-75{
    width: 75%;
}
.w-100{
    width: 100%;
}

.vh-100{
    height: 100vh;
}

.d-flex{
    display: flex;
}
.d-block{
    display: block;
}
.d-inline{
    display: inline;
}

.b-rounded-0{
    border-radius: $s-0;
}
.b-rounded-1{
    border-radius: $s-1;
}
.b-rounded-2{
    border-radius: $s-2;
}
.b-rounded-3{
    border-radius: $s-3;
}
.b-rounded-4{
    border-radius: $s-4;
}
.b-rounded-5{
    border-radius: $s-5;
}
.b-rounded-6{
    border-radius: $s-6;
}
.b-rounded-7{
    border-radius: $s-7;
}
.b-rounded-8{
    border-radius: $s-8;
}

.p-auto{
    padding: auto;
}
.p-0{
    padding: $s-0;
}
.p-1{
    padding: $s-1;
}
.p-2{
    padding: $s-2;
}
.p-3{
    padding: $s-3;
}
.p-4{
    padding: $s-4;
}
.p-5{
    padding: $s-5;
}
.p-6{
    padding: $s-6;
}
.p-7{
    padding: $s-7;
}
.p-8{
    padding: $s-8;
}

.pt-0{
    padding-top: $s-0;
}
.pt-1{
    padding-top: $s-1;
}
.pt-2{
    padding-top: $s-2;
}
.pt-3{
    padding-top: $s-3;
}
.pt-4{
    padding-top: $s-4;
}
.pt-5{
    padding-top: $s-5;
}
.pt-6{
    padding-top: $s-6;
}
.pt-7{
    padding-top: $s-7;
}
.pt-8{
    padding-top: $s-8;
}

.pr-0{
    padding-right: $s-0;
}
.pr-1{
    padding-right: $s-1;
}
.pr-2{
    padding-right: $s-2;
}
.pr-3{
    padding-right: $s-3;
}
.pr-4{
    padding-right: $s-4;
}
.pr-5{
    padding-right: $s-5;
}
.pr-6{
    padding-right: $s-6;
}
.pr-7{
    padding-right: $s-7;
}
.pr-8{
    padding-right: $s-8;
}

.pb-0{
    padding-bottom: $s-0;
}
.pb-1{
    padding-bottom: $s-1;
}
.pb-2{
    padding-bottom: $s-2;
}
.pb-3{
    padding-bottom: $s-3;
}
.pb-4{
    padding-bottom: $s-4;
}
.pb-5{
    padding-bottom: $s-5;
}
.pb-6{
    padding-bottom: $s-6;
}
.pb-7{
    padding-bottom: $s-7;
}
.pb-8{
    padding-bottom: $s-8;
}

.pl-0{
    padding-left: $s-0;
}
.pl-1{
    padding-left: $s-1;
}
.pl-2{
    padding-left: $s-2;
}
.pl-3{
    padding-left: $s-3;
}
.pl-4{
    padding-left: $s-4;
}
.pl-5{
    padding-left: $s-5;
}
.pl-6{
    padding-left: $s-6;
}
.pl-7{
    padding-left: $s-7;
}
.pl-8{
    padding-left: $s-8;
}

.m-auto{
    margin: auto;
}
.m-0{
    margin: $s-0;
}
.m-1{
    margin: $s-1;
}
.m-2{
    margin: $s-2;
}
.m-3{
    margin: $s-3;
}
.m-4{
    margin: $s-4;
}
.m-5{
    margin: $s-5;
}
.m-6{
    margin: $s-6;
}
.m-7{
    margin: $s-7;
}
.m-8{
    margin: $s-8;
}

.mt-0{
    margin-top: $s-0;
}
.mt-1{
    margin-top: $s-1;
}
.mt-2{
    margin-top: $s-2;
}
.mt-3{
    margin-top: $s-3;
}
.mt-4{
    margin-top: $s-4;
}
.mt-5{
    margin-top: $s-5;
}
.mt-6{
    margin-top: $s-6;
}
.mt-7{
    margin-top: $s-7;
}
.mt-8{
    margin-top: $s-8;
}

.mr-0{
    margin-right: $s-0;
}
.mr-1{
    margin-right: $s-1;
}
.mr-2{
    margin-right: $s-2;
}
.mr-3{
    margin-right: $s-3;
}
.mr-4{
    margin-right: $s-4;
}
.mr-5{
    margin-right: $s-5;
}
.mr-6{
    margin-right: $s-6;
}
.mr-7{
    margin-right: $s-7;
}
.mr-8{
    margin-right: $s-8;
}

.mb-0{
    margin-bottom: $s-0;
}
.mb-1{
    margin-bottom: $s-1;
}
.mb-2{
    margin-bottom: $s-2;
}
.mb-3{
    margin-bottom: $s-3;
}
.mb-4{
    margin-bottom: $s-4;
}
.mb-5{
    margin-bottom: $s-5;
}
.mb-6{
    margin-bottom: $s-6;
}
.mb-7{
    margin-bottom: $s-7;
}
.mb-8{
    margin-bottom: $s-8;
}

.ml-0{
    margin-left: $s-0;
}
.ml-1{
    margin-left: $s-1;
}
.ml-2{
    margin-left: $s-2;
}
.ml-3{
    margin-left: $s-3;
}
.ml-4{
    margin-left: $s-4;
}
.ml-5{
    margin-left: $s-5;
}
.ml-6{
    margin-left: $s-6;
}
.ml-7{
    margin-left: $s-7;
}
.ml-8{
    margin-left: $s-8;
}

.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}
//------------ DEFAULT ------------

hr{
    background-color: transparent;
    border: none;
    border-top: solid $gray 1px;
    &.light{
        border-top: solid $light 1px;
    }
}

a{
    text-decoration: none;
    color: inherit;
    cursor: pointer;

    position: relative;
    transition: clip-path 275ms ease;
    
    &:hover span::before, &:focus span::before {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    span {
        position: relative;
        display: inline-block;
        color: $tertiary;
        &::before {
            position: absolute;
            content: attr(data-content);
            color: $primary;
            text-decoration: underline;
            text-decoration-color: $primary;
            clip-path: polygon(0 0, 0 0, 0% 100%, 0 100%);
            transition: clip-path 275ms ease;
        }
    }
}

li{
    padding-left: $s-4;
    line-height: $s-8;
    list-style: none;
    &::before{
        content: '-';
        margin-right: $s-2;
    }
}

//EXPERIMENTAL
*::-webkit-scrollbar {
    -webkit-appearance: none;
}

*::-webkit-scrollbar:vertical {
    width:10px;
}

*::-webkit-scrollbar-button:increment,*::-webkit-scrollbar-button {
    display: none;
} 

*::-webkit-scrollbar:horizontal {
    height: 10px;
}

*::-webkit-scrollbar-thumb {
    background-color: $glass-4;
    border-radius: 0px;
}

*::-webkit-scrollbar-track {
    border-radius: 0em;  
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
