@import "../../../styles.scss";
section{
    background: $image;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $light;
}
.img-container{
    text-align: center;
}
img{
    width: 4em;
}
.container{
    width: 25%;
    margin: auto;
    background: $glass-4;
    padding: $s-8;
    backdrop-filter: $blur-45;
    border-radius: $s-2;
}
h1{
    font-size: 2em;
    letter-spacing: $s-1;
    color: $hard;
    font-weight: lighter;
    text-align: center;
}

.advice{
    font-size: $s-3;
    color: gray;
    text-align: center;
}